.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.leftImage {
  width: 10%;
  height: 20%;
  border-radius: 50%;
}

.split {
  height: 80vh;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 10px;
  top:10%
}

/* Control the right side */
.right {
  top:5%;
  right: 0;
}
