.leftImageDiv{
    position: relative;
    margin-top: -60%;
    height: 10vh;
    width: 50vw;
}
.text{
    position: absolute;
    margin-top: -63%;
    height: 25vh;
    width: 59vw;
    color: white;
    font-size: 35px;
}
.image{
    height: 60vh;
    width: 60vw;
}